<div>
    <h6>{{title}}</h6>
  </div>
<div id="header-item">
    <div>
        <h4  class="title">{{location.name | formatName: 'T'}}</h4>
    </div>
    <h5>Areas</h5>
    <p>
        <span class="badge badge-retro ml-3" *ngFor="let area of location.areas">
            {{area.name}}
        </span>
    </p>
    <h5>Regions</h5>
    <div>
        <p class="effect-text">{{location.region.name}}</p>
    </div>
    <h5>Generation</h5>
    <div *ngFor="let indices of location.game_indices">
        <p class="effect-text">{{indices.generation.name}} # {{indices.game_index}}</p>
    </div>
    <div class="hightLigted">
        <p class="m-2"><span (click)="goBack()"><<-- Back</span></p>
    </div>
</div>