@import '../../sass/variables';

#scroll-screen {
    ul {
        overflow-y: hidden;
        height: inherit;
        list-style-type: none;
        padding: 0px;
    }
    li {
        font-family: .7em;
        padding: 7px 3px 7px 7px;
    }
}
.highlighted {
  background-color: lime;
  color: green;
  padding-left: 20px;
}