@mixin screen-holder {
    #header-item {
        height: 310px;
        overflow-y: scroll;
    }
    h6, h5{
        color: green;
        background-color: chartreuse;
        font-size: .9rem;
    }
    h6 {
        padding: 5px 3px;
    }
    h5 {

    text-align: center;
    padding: 3px;
    }

}

@mixin highlight {
        background-color: lime;
        color: green;
        padding-left: 20px;
}
