@mixin screen-holder {
    #header-item {
        height: 310px;
        overflow-y: scroll;
    }
    h6, h5{
        color: green;
        background-color: chartreuse;
        font-size: .9rem;
    }
    h6 {
        padding: 5px 3px;
    }
    h5 {

    text-align: center;
    padding: 3px;
    }

}
@mixin base-high {

  background-color: chartreuse;
  color: green;
}
@mixin highlight {
    @include base-high;
    padding-left: 20px;
}

@mixin base {
    border: solid 1px green;
    background-color: green;
    color: chartreuse;
}

@mixin h6-general{
    font-size: 1rem;
    @include base-high;
    padding: 5px;
}
