#pokemon-detall {
    height: 305px;
    overflow-y: scroll;
}
.title {
    display: inline-block;
    vertical-align: top;
    span {
        font-size: .7em;
        display: block;
        position: relative;
    }
}
.title-media {
    background-color: chartreuse;
    border-radius: 5px;
    width: 25%;
    margin: 2%;
    box-shadow: 0px 0px 31px 7px green inset;
    img {
        width: 100%;
    }
}
.id-pokemon {
    width: 65%;
    spam{
        font-size: .7;
    }
}
h5, .hightLigted {
    color: green;
    background-color: chartreuse;
    text-align: center;
    div{
        width: 100%;
        span{
            margin: 0px auto;
        }
    }
}
.badge-retro{
    background-color: chartreuse;
    color: green;
    margin-left: 5px;
}