@import '../../../../sass/mixins';

.searchInput {
  display: block;
  margin-bottom: 15px;
  input{
    border: solid 2px green;
    background-color: chartreuse;
    color: green;
    width: 100%;
  }
}
.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
   a{
     @include base-high;
     padding:.7rem;
     font-size: .8rem;
   }
}
