@import '../../../../sass/mixins';

.searchInput {
  display: block;
  margin-bottom: 15px;
  input{
    border: solid 2px green;
    background-color: chartreuse;
    color: green;
    width: 100%;
  }
}
.nav {
  border-top: 7px solid green;
  display: flex;
  flex-flow: row;
  width: max-content;
  margin: auto;
  justify-content: start;
   a{
     @include base-high;
     padding:.7rem;
     font-size: .8rem;
   }
}
