<!-- Principal screen-->
<div>
  <h6>/{{pageName}}/</h6>
</div>

<loading-screen></loading-screen>
<div id="scroll-screen">
  <ul appHighlight>
    <li>
      <a (click)="previusPge()" *ngIf="previous > 0 "> <<- Back </a>
    </li>
    <li *ngFor="let item of viewList;let idx = index" class="higtlight" id="item-{{idx}}" (click)="itemDetall(item.name)">
      {{item.name | formatName : 'I'}}
    </li>
    <li><a (click)="nextPage()" *ngIf="next <= itemCount"> Next ->></a></li>
  </ul>
</div>
<!--End Principal screen-->
