@import '../../../../../sass/variables';
#pokedex-header {
    height: 100px;
    background-color: $base-color;

  }
  .scanner-ring {
    height: 90px;
    border-radius: 45px;
    background-color: rgb(253, 253, 253);
    border-bottom: 4px solid  darkcyan;
    border-right: 4px solid  darkcyan;
    display: inline-block;
    width: 90px;
    .scanner-glass {
      height: 68px;
      border-radius: 34px;
      background-color: skyblue;
      border: 6px solid  #404ae3;
      margin: 10px;
      width: 68px;
    }
  }
  .pilot-ligh {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
  }
  .pilot-led {
    border: 3px solid black;
    border-radius: 15px;
    margin: 15px 0px 0px 10px;
    float: left;
    height: 30px;
    width: 30px;
  }
  .led-orange {
    background-color: red;
  }.led-yellow {
    background-color: yellow;
  }.led-green {
    background-color: greenyellow;
  }
