@import '../../../sass/variables';
@import '../../../sass/mixins';

#scroll-screen {
    ul {
        display: block;
        height: calc(100% - 20px);
        width: 100%;
        list-style-type: none;
        padding: 0px;
    }
    li {
        font-family: .7em;
        padding: 7px 3px 7px 7px;
    }
}

.highlight{
  @include highlight;
}

h6 {
    @include h6-general;
}
