<div id="region-detall" *ngIf="!loading;else loadingBar">
    <div class="region-header">
        <div class="title id-region">
            <h4>{{region?.name | formatName: 'T'}}</h4>
        </div>
        <h5>Locations</h5>
        <ul>
            <li *ngFor="let reg of region.locations" class="m-2" (click)="itemDetall(reg.url)">
                {{reg.name | formatName:'I'}}
            </li>
        </ul>

    </div>

<div class="hightLigted">
    <p class="m-2"><span (click)="goBack()">
            <<-- Back</span>
    </p>
</div>
</div>
<ng-template #loadingBar>
    <img src="assets/img/loading.gif" alt="">
</ng-template>
