<div>
    <h6>{{title}}</h6>
</div>
<div id="region-detall" *ngIf="!loading;else loadingBar">
    <div class="region-header">
        <div class="title id-region">
            <h4>{{region?.name | formatName: 'T'}}</h4>
        </div>
        <h5>Locations</h5>
        <ul>
            <li *ngFor="let reg of region.locations" class="m-2" (click)="itemDetall(reg.url)">
                {{reg.name | formatName:'I'}}
            </li>
        </ul>

    </div>

    
</div>
<ng-template #loadingBar>
    <div class="loading-bar"s>
        <img src="assets/img/loading.gif" alt="">
    </div>
</ng-template>
