@import '../sass/variables';
#interface {
  border-left: 2px solid brown;
  border-bottom: 2px solid brown;
  border-right: 2px solid brown;
  border-radius: 0px 0px 10px 40px;
}
#pokedex-header {
  height: 100px;
}
#pokedex-header, #pokedex-footer {
  height: 120px;
  background-color: $base-color;
}
#pokedex-footer{
  height: 80px;
}
.scanner-ring {
  height: 80px;
  border-radius: 40px;
  background-color: blue;
  border: 2px solid  black;
  display: inline-block;
  width: 80px;
  .scanner-glass {
    height: 60px;
    border-radius: 31px;
    background-color: skyblue;
    border: 6px solid  white;
    margin: 4px;
    width: 60px;
  }
}
.pilot-ligh {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.pilot-led {
  border: 3px solid black;
  border-radius: 10px;
  margin: 40px 0px 0px 25px;
  float: left;
  height: 20px;
  width: 20px;
}
.led-orange {
  background-color: orange;
}
.back-dex {
  background-color: $base-color;
  position: relative;
}
h6{font-size: .9em;}
#primary-screen {
  background-color: ivory;
  border-radius: 20px 20px 20px 65px;
  height: auto;
  padding: 7px 7px;
  width: 85%;
  margin: 10px auto;
}
#pilot-holder {
  width: 100px;
}
.screen-led{
  height: 10px;
  width: 10px;
  background-color:red;
  border: 3px solid black;
  margin-left: 20px;
  display: inline-block;
}
#screen {
  background-color: green;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 4px rgb(72, 209, 102) inset;
  font-family: $fontfamily;
  height: 200px;
  color: chartreuse;
  clear: both;
  overflow: hidden;
}
#screen-footer {
  padding: 20px 25px;
}
#screen-control {
  width: 100px;
  margin-bottom: 10px;
}
.screen-pilot{
  height: 20px;
  width: 20px;
  background-color:red;
  border: 3px solid black;
  margin-left: 20px;
  display: inline-block;
}
.black-strip {
  background-color: #000;
  height: 5px;
  border-radius: 2.5px;
  width: 100px;
  margin-top: 5px;
}
#btn1{
  height: 50px;
  width: 50px;
  background-color: lightblue;
}
#btn2, #btn3 {
  height: 10px;
  width: 50px;

}
#btn1,#btn2,#btn3 {
  box-shadow: 2px 2px 3px grey;
  display:inline-block;
}
#btn2{
  background-color: lime;
}
#btn3{
  background-color:orange;
}
#id-screen {
  background-color: yellow;
  display: block;
  font-family: $fontfamily;
  font-size: 1.3em;
  padding: 5px;
  text-align: center;
  width: 90%;
}
.control-btn {
  height: 30px;
  background-color: black;
  display: block;
  margin: 0px;
  vertical-align: top;
}
.control-holder{
  text-align: center;
  height: 90px;
}
#btnup, #btndown {
  width: 30px;
}
#btnleft, #btnright{
  width: 45px;
  display: inline-block;
}
