@import '../sass/variables';
#interface {
  border-left: 2px solid brown;
  border-bottom: 2px solid brown;
  border-right: 2px solid brown;
  border-radius: 0px 0px 10px 40px;
}
#pokedex-footer {
  height: 120px;
  background-color: $base-color;
}

.back-dex {
  background-color: $base-color;
  position: relative;
}
h6{font-size: .9em;}
