.screen-canvas {
  height: 100%;
  width: 100%;
  & >div{
    height: inherit;
  }
  .scroll-holder{
    height: calc(100% - 60px);
    width: inherit;
    position: relative;
  }
  
  .scroll-panel{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    &>.scrollable-item {
      width: inherit;
    }
  }
  .screen-nav {
    bottom: 0px;
    height: 30px;
    position: absolute;
    width: 95%;
  }
}
