@import '../../sass/variables';

  #scroll-screen {
    ul {
      overflow-y: scroll;
      height: 130px;
      list-style-type: none;
      padding: 0px;
    }
    li {
      padding: 0px 3px 10px 3px;
    }
  }
.highlighted {
  background-color: lime;
  color: green;
}


