@import '../../../../../sass/variables';

#btn1{
    height: 50px;
    width: 50px;
    background-color: lightblue;
  }
  #btn2, #btn3 {
    height: 10px;
    width: 50px;

  }

#btn1,#btn2,#btn3 {
    box-shadow: 2px 2px 3px grey;
    display:inline-block;
  }
  #btn2{
    background-color: lime;
  }
  #btn3{
    background-color:orange;
  }
  #id-screen {
    background-color: yellow;
    display: block;
    font-family: $fontfamily;
    font-size: .8em;
    margin-bottom: 2rem;
    min-height: 80px;
    padding: 5px;
    text-align: center;
  }

.control-btn {
    height: 30px;
    background-color: black;
    display: block;
    margin: 0px;
    vertical-align: top;
  }
  .control-holder{
    text-align: center;
    height: 90px;
  }
  #btnup, #btndown {
    width: 30px;
  }
  #btnleft, #btnright{
    width: 45px;
    display: inline-block;
  }
