@import '../../../sass/mixins.scss';
h4 {
    width: 80%;
    padding: 7px 0px;
}

.title {
    display: inline-block;

}
.title-media {
    width:19%;
    height: inherit;
    img {
        width: 100%;
    }
}
.effect-text {
 font-size: .8em;
}

@include screen-holder;