<div>
    <h6>{{title}}</h6>
</div>
<loading-screen [loading]="loading" [hidden]="!loading"></loading-screen>

<div id="region-detall" *ngIf="!loading">
    <div class="region-header">

        <div>
            <img [src]="mapImg" width="100%" alt="">
        </div>
        <div class="title id-region">
            <h4 class="text-center p-1">{{region?.name | formatName: 'T'}}</h4>
        </div>

        <h5 class="p-1">Locations</h5>
        <ul appHighlight>
            <li *ngFor="let reg of region.locations, let idx = index" id="item-{{idx}}"class="higtlight m-2" (click)="detailLocation(reg.name)">
                {{reg.name | formatName:'I'}}
            </li>
        </ul>

    </div>
</div>
