/* You can add global styles to this file, and also import other style files */

.badge-retro {
    background-color: 
chartreuse;
color:
    green;
    margin-left: 5px;
}
#pokedex-header, #pokedex-footer {
    height: 120px;
    background-color: $base-color;
  }
  .highlighted {
    color: green;
    background-color: chartreuse;
    text-align: center;
}