@import './variables';
/* You can add global styles to this file, and also import other style files */

#pokedex-header {
    height: 120px;
    background-color: $base-color;
  }
  .highlighted {
    color: green;
    background-color: chartreuse;
    text-align: center;
}

