<loading-screen></loading-screen>
<div  *ngIf="item">
  <h6>{{title | formatName: 'P' | formatName : 'T'}}/{{titleId | formatName : 'T'}}</h6>
  <div [ngSwitch]="category">
    <div *ngSwitchCase="'item'">

      <div id="header-item">
        <div>
          <h4  class="title">{{name | formatName: 'T'}}</h4>
          <div class="title title-media" appImgClick>
            <img [src]="item.sprites.default" width="100%" [hidden]="!item.sprites.default">
          </div>
        </div>
        <h5 *ngIf="item.attributes.length > 0">Attributes</h5>
      <p>
        <span class="badge badge-retro ml-3" *ngFor="let entry of item.attributes">
          {{entry.name | formatName: 'I'}}
        </span>
      </p>
      <h5>Category</h5>
      <p class="effect-text ">
        {{item.category.name | formatName: 'I'}}
      </p>
      <h5>Cost</h5>
      <p class="effect-text">
        {{item.cost}} Pokedollars
      </p>

      <h5>Effectes <span (click)="showMore()"
        *ngIf="item.effect_entries.length > 0"> {{seeMore ? '-' : '+'}}</span></h5>
      <div *ngFor="let effect of item.effect_entries">
            <p class="effect-text" *ngIf="seeMore">
            {{ effect.effect }}
          </p>

        <p class="effect-text" *ngIf="!seeMore">
          {{effect.short_effect}}
        </p>
      </div>
      <div>
        <p *ngIf="item.effect_entries.length <= 0">
          {{getTranslation('en')}}
        </p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'pokemon'">
      {{category}}
      <pkd-pokemon [pokemon]="item"></pkd-pokemon>
    </div>
    <div *ngSwitchCase="'region'">
      <pkd-region-location [location]="item"></pkd-region-location>
    </div>
    <span *ngSwitchDefault>(No eligió operación)</span>
  </div>
</div>
<pkd-nav-bar></pkd-nav-bar>
