@import '../../../../../../sass/mixins.scss';
h4 {
    width: 70%;
    padding: 7px 3px;
}

.title {
    display: inline-block;

}
.title-media {
    width:25%;
    height: inherit;
    vertical-align: top;
    background-color: chartreuse;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 3px green inset;
    &.img-open {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 95%;
    }
    img {
        width: 100%;
    }
}
.effect-text {
 font-size: .8em;
}

@include screen-holder;
